.auth-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--background);
}

.auth-card {
  width: 350px;
  padding: 2rem;
  border: 1px solid var(--border);
  border-radius: 8px;
  text-align: center;
  background: white;
}

.logo {
  width: 64px;
  margin-bottom: 1rem;
}

form input {
  width: 100%;
  padding: .75rem;
  margin-bottom: .8rem;
  border-radius: 6px;
  border: 1px solid var(--border);
  font-size: .9rem;
}

form button {
  width: 100%;
  padding: .75rem;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: .8rem;
}

form button:hover {
  opacity: 0.9;
}

.error {
  color: var(--error);
  font-size: .8rem;
  margin-bottom: .5rem;
}
